/LangTrainerApi/bin/Debug/net7.0
/LangTrainerApi/obj/Debug/net7.0
/LangTrainerApi/obj
/LangTrainerDAL/obj/Debug/net7.0
/LangTrainerDAL/obj
/LangTrainerDAL/bin/Debug/net7.0
/LangTrainerEntity/bin/Debug/net7.0
/LangTrainerEntity/obj/Debug/net7.0
/LangTrainerEntity/obj
/LangTrainerServices/bin/Debug/net7.0
/LangTrainerServices/obj/Debug/net7.0
/LangTrainerTest/bin/Debug/net7.0
/LangTrainerTest/obj/Debug/net7.0
/LangTrainerTest/obj
/LangTrainerServices/obj
/.vs/LangTrainerBackend/FileContentIndex
/.vs/LangTrainerBackend/v17
/.vs/ProjectEvaluation
/.vs/LangTrainerBackend/DesignTimeBuild
/.vs/LangTrainerBackend/config
/LangTrainerClientModel/bin/Debug/net7.0
/LangTrainerClientModel/obj/Debug/net7.0
/LangTrainerTests/.vs/LangTrainerTests/FileContentIndex
/LangTrainerTests/.vs/LangTrainerTests/DesignTimeBuild/.dtbcache.v2
/LangTrainerTests/.vs/LangTrainerTests/v17/.suo
/LangTrainerTests/LangTrainerTests/obj
